html {
  font-family: "Roboto Slab", serif;
  color: #312d2c;
}
 
* {
  font-family: sans-serif;
}

body {
  margin: 0;
}

main {
  width: 80%;
  margin: 3rem auto;
}

a {
  text-decoration: none;
  color: #754A35;
}
a:hover, a:active {
  color: #EFE7DD;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Global components */

/* Site-wide content / elements */
#main-header {
  padding: 2rem 10%;
  background-color: #754A35;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main-header ul {
  display: flex;
}
#main-header li {
  margin-left: 2rem;
}
#main-header nav a {
  color: white;
  font-size: 1.25rem;
}
#main-header nav a:hover, #main-header nav a:active {
  color: #ffd900;
}

