// Text colors
$text-primary-color: #312d2c;
$text-secondary-color: white;

// Primary colors
$primary-color:#754A35;
$posts-background-color: #D8A790;

// Secondary colors
$button-color: #C88A36;
$border-color: #cccccc;


// State colors
$link-state-color:#EFE7DD;
$nav-state-color:#ffd900;
$background-state-color:#EFE7DD;
